/* app  Styles */

.flipped-video {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); /* Safari and Chrome */
    -moz-transform: rotateY(180deg); /* Firefox */
}

.videos-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items:flex-start;
    position:absolute;
    left:30px;
    top: 30px;
    bottom:30px;
    right: 420px;
    background-color: ghostwhite;
    padding: 20px; 
}

.screenshare-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items:flex-end;
    position:absolute;
    left:30px;
    top: 30px;
    bottom:30px;
    right: 420px;
}

.screenshare {
    z-index: 25;
    max-width: 60%;
    max-height: 60%;
    margin: 10px;
    border: 3px solid #333;
    background-color: ghostwhite;
}

.video-item {
    max-width: 240px;
    max-height: 240px;
    /* width: 320px;
    height: 240px;  */
    margin: 10px;
    border: 2px solid #333;
    box-shadow: 12px 12px 2px 1px rgba(152, 152, 154, 0.2);
}

.button-style {
    border-radius: 1em;
    margin: 0 0.3em 0.3em 0;
    min-width: 80px;
}

.button-style-old {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #4eb5f1;
    text-align: center;
    transition: all 0.2s;
    min-width: 150px;
}

.main-controls-container {
    display: flex;
    /* flex-wrap:wrap; */
    flex-direction: column;
   justify-content:right;
   align-items:center;
   position:absolute;
   right:30px;
   top: 30px;
   width: 400px;
   padding: 5px;
}

 
.list-item{
    text-decoration: none;
}

.button-controls-container {
 
}
 

.message-item {
    display: inline-block;
    padding: 0.5em;
    margin: 0.3em 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #b5c6d0;
    text-align: center;
    transition: all 0.2s;
    width: 100%;
    height: 100%;
    border-radius: 1em;
}



.flexbox-item {
    /* width: 200px; */
    margin: 10px;
    border: 1px solid #eee;
    background-color: #dfdfdf;
}

.flexbox-item-1 {
    width: 200px;
    margin: 10px;
    border: 1px solid #eee;
    background-color: #dfdfdf;
    min-height: 44px;
}




.controls {
    width: 100%;
    border: 1px solid #eee;
    background-color: #dfdfdf;
}





html {
    /* font-size: 10px;
    background-color: #ffc600; */
  }

  body {
    background: #eee;
    font-family: 'helvetica neue';
    font-weight: 200;
    font-size: 20px;
  }
 
  p {
    /* margin: 0 0 3rem; */
  }

